POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ppgram
POSTGRES_PASSWORD=ppgram
POSTGRES_DB=ppgram
REDIS_ADDR=redis:6379
SEAWEED_MASTER=seaweed:9333
SEAWEED_VOLUME=seaweed:8080

QUIC_ADDR=0.0.0.0:4433
TLS_CERT_FILE=certs/server.cert.pem
TLS_KEY_FILE=secrets/server.key.pem
TLS_ALPN=ppproto/1.0
NETWORK_LOG_FILE=logs/network.log
